.taskList {
    list-style-type: none;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px;
}

.taskList__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    word-break: break-word;
    border-bottom: 1px solid #ccc;
}

.taskList__item--done {
    text-decoration: line-through;
}

.taskList__content {
    display: flex;
    flex-grow: 1;
    padding: 0 20px;
    align-items: center;
}

.taskList__button {
    flex-basis: 35px;
    flex-shrink: 0;
    border: none;
    min-height: 35px;
    min-width: 35px;
    align-self: center;
}

.taskList__button--done {
    background-color: rgb(41, 145, 20);
    color: white;
    cursor: pointer;
}

.taskList__button--remove {
    background-color: red;
    cursor: pointer;
}
